<form class="max-w-lg mx-auto p-6">
  <div class="mb-4">
    <label for="nombre" class="block text-gray-700 text-sm font-bold mb-2"
      >Nombre de la lista</label
    >
    <input
      type="text"
      id="nombre"
      name="nombre"
      [(ngModel)]="lista.nombre"
      class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
    />
  </div>
  <div class="mb-4">
    <label for="descripcion" class="block text-gray-700 text-sm font-bold mb-2"
      >Descripción</label
    >
    <textarea
      id="descripcion"
      name="descripcion"
      [(ngModel)]="lista.descripcion"
      class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
    ></textarea>
  </div>

  <!-- Formulario de Canciones -->
  @for (item of lista.canciones; track $index) {
  <div class="mb-4">
    <label class="block text-gray-700 text-sm font-bold mb-2"
      >Canción {{ $index + 1 }}</label
    >
    <input
      type="text"
      placeholder="Título"
      [(ngModel)]="cancion.titulo"
      name="titulo_{{ $index }}"
      class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
    />
    <input
      type="text"
      placeholder="Artista"
      [(ngModel)]="cancion.artista"
      name="artista_{{ $index }}"
      class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
    />
    <input
      type="text"
      placeholder="Álbum"
      [(ngModel)]="cancion.album"
      name="album_{{ $index }}"
      class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
    />
    <input
      type="text"
      placeholder="Año"
      [(ngModel)]="cancion.anno"
      name="anno_{{ $index }}"
      class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
    />
    <input
      type="text"
      placeholder="Género"
      [(ngModel)]="cancion.genero"
      name="genero_{{ $index }}"
      class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
    />
  </div>
  }

  <div class="mb-4">
    <button
      type="button"
      (click)="agregarCancion()"
      class="py-2 px-4 bg-green-500 text-white rounded"
    >
      Agregar Canción
    </button>
  </div>

  <div class="mb-4">
    <button
      type="submit"
      (click)="guardarListaReproducciones()"
      class="py-2 px-4 bg-blue-500 text-white rounded"
    >
      Guardar Lista de Reproducción
    </button>
  </div>
</form>

<table class="min-w-full border-collapse border border-gray-300">
  <thead>
    <tr>
      <th class="border border-gray-300 px-4 py-2">#</th>
      <th class="border border-gray-300 px-4 py-2">Nombre</th>
      <th class="border border-gray-300 px-4 py-2">Descripción</th>
      <th class="border border-gray-300 px-4 py-2">Canciones</th>
      <th class="border border-gray-300 px-4 py-2">Acciones</th>
    </tr>
  </thead>
  <tbody>
    @for (lista of listasReproducciones; track lista.nombre) {
    <tr>
      <td class="border border-gray-300 px-4 py-2">{{ $index + 1 }}</td>
      <td class="border border-gray-300 px-4 py-2">{{ lista.nombre }}</td>
      <td class="border border-gray-300 px-4 py-2">{{ lista.descripcion }}</td>
      <td class="border border-gray-300 px-4 py-2">
        <ul>
          @for (cancion of lista.canciones; track $index) {
          <li>{{ cancion.titulo }} - {{ cancion.artista }}</li>
          }
        </ul>
      </td>
      <td class="border border-gray-300 px-4 py-2">
        <button (click)="eliminarListaReproduccion(lista.nombre)">
          Eliminar
        </button>
      </td>
    </tr>
    }
  </tbody>
</table>

<form class="max-w-lg mx-auto p-6">
  <div class="mb-4">
    <label for="nombreBuscar" class="block text-gray-700 text-sm font-bold mb-2"
      >Buscar por nombre</label
    >
    <input
      type="text"
      id="nombreBuscar"
      name="nombreBuscar"
      [(ngModel)]="listaReproduccion"
      class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
    />
  </div>

  <div class="mb-4">
    <button
      type="button"
      (click)="buscarListaReproduccion()"
      class="py-2 px-4 bg-blue-500 text-white rounded"
    >
      Buscar
    </button>
  </div>
  @if (detalle) {
    <div class="mb-4">
      <label class="block text-gray-700 text-sm font-bold mb-2">Nombre de la lista:</label>
      <p>{{ detalle }}</p>    
    </div>
  }
</form>
